.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  max-width: 428px;
  height: 100%;

  h1 {
    font-family: cursive;
    font-size: 40px;
    text-align: center;
  }

  #main-image {
    display: block;
    margin: 0 auto;
    width: 8rem;
  }
}
